.Achivement {
    background-color: rgb(84, 146, 247);
    height: auto;
    width: 100%;
    padding: 0 !important;
    border-radius: 0 130px 0 0;

}

.achiveIcon {
    font-size: 49px;
    margin: 3px 0;
    color: white;
}

.achievementCat {
    text-align: center;
    margin: auto;
    /* margin-top: 50px; */
    padding: 0;
}

.achievementCat h5 {
    font-weight: 700;
    color: white;
    font-size: 1.7rem;
}

.achievementCat p {
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
    opacity: 0.7;
    letter-spacing: 2px;
}

@media screen and (max-width:767px) {
    .achiveIcon {
        font-size: 30px;
    }

    .achievementCat {
        text-align: center;
        margin: auto;
        padding: 0;
    }

    .achievementCat h5 {
        font-weight: 700;
        color: white;
        font-size: 1.2rem;
    }

    .achievementCat p {
        font-weight: 600;
        color: white;
        font-size: 0.8rem;
        opacity: 0.7;
        letter-spacing: 2px;
    }
}

@media screen and (max-width:575px) {
    .achievementCat h5 {
        font-size: 1.2rem;
    }

    .achiveIcon {
        font-size: 25px;
    }

    .Achivement {
        height: 20vh;
        border-radius: 70px 0 0px 0;
    }

    .achievementCat {
        margin: auto;
        margin-top: initial;

    }

    .achievementCat p {
        font-weight: 500;
        color: white;
        font-size: 0.6rem;
        opacity: 0.9;
        letter-spacing: initial;

    }
}

@media screen and (max-width:393px) {
    .achievementCat h5 {
        font-size: 1.2rem;
    }

    .achievementCat p {
        font-size: 0.6rem;

    }

    .Achivement {
        height: auto;

    }
}

@media screen and (max-width:412px) and (min-height:915px) {
    .Achivement {
        background-color: rgb(126, 163, 226);
        height: 10vh;
        width: 100%;
        padding: 0;

    }
}

@media screen and (max-width:430px) and (min-height:930px) {
    .Achivement {
        background-color: rgb(126, 163, 226);
        height: 10vh;
        width: 100%;
        padding: 0;

    }
}

@media screen and (max-width:414px) and (min-height:896px) {
    .Achivement {
        background-color: rgb(126, 163, 226);
        height: 10vh;
        width: 100%;
        padding: 0;

    }
}