.borderSet {
    border-radius: 20px !important;
    background-color: white !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1) !important;
}

.title {
    color: blue;
    font-weight: 600;
}

.descriptionHeroTwo {
    color: grey;
    font-size: medium;
    font-weight: 300;
}

.heroTwoMoveUp {
    position: relative !important;
    /* margin: 0px auto;
    top: 100% !important;
    left: 50% !important;
    transform: translate(-50%, -40%); */
    bottom: 90px;

}

#rightBorder {

    margin: auto;
    height: 100px !important;
    width: 2px !important;
    border-radius: 20px;
    background-color: grey !important;
}