#navbarColor {
    background-color: rgb(255, 255, 255);
    /* padding: 0 !important; */
    /* padding: 1rem 0; */
    /* background-color: aqua; */

}

.brandLogo {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(61, 59, 81);

}

.logoDoctor img {
    height: 80px;
    width: 100px;
    object-fit: contain;
    /* background-color: aqua; */
}

.nav-item {
    margin: 0 0.6rem;
    font-size: 1.2rem;
}

a {
    font-weight: 500 !important;
}

a:hover {
    color: rgb(24, 50, 91) !important;
}

.navAppointment {
    color: white;
    font-weight: 400 !important;
    font-size: medium !important;
    background-color: rgb(24, 50, 91);
    border: 0 !important;
    outline: 0 !important;
}

.navAppointment:hover {
    color: white !important;
    font-size: medium !important;
    background-color: rgb(24, 50, 91);
}

.priceSet p {
    font-weight: 600;
}

.priceSet p .price {
    text-decoration: line-through;
    font-weight: 900;
}

/* upHeader */
.upHeader {
    background-color: rgb(24, 50, 91);
    height: 5vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.navUp_Header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 800;
    cursor: pointer;
}

.navUp_Header a:hover {
    color: white !important;
}

/* shopHeader */
.cartShowing {
    display: none;
}

.cartNav {
    display: block;
}

.searchATopLevel {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(5, 49, 92);
    min-height: 17vh;
    width: 100%;
    z-index: 100 !important;
}

.borderInnerInput {
    height: 1px !important;
    background-color: white !important;
    width: 90% !important;
    margin: 10px auto;
    border-radius: 20px;
}


.searchATopLevel .child {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.searchATopLevel .child .searchInnerInput {
    position: absolute;
    right: 4px;

}

.searchATopLevel .child input {
    font-size: larger;
    color: rgb(5, 49, 92);
}

.searchATopLevel .cross {
    position: absolute;
    right: 5px;
    top: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    color: rgb(5, 4s9, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.productsSearchDetailsBeforeSearch {
    width: 80%;
    color: white;
    margin: 10px auto;
}





.productsSearchDetailsBeforeSearch .productList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.productsSearchDetailsBeforeSearch .productList p {
    font-size: 1.3rem;
    cursor: pointer;
}

.productCardSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productCardSearch {
    width: 80%;
    margin: auto;
}

.productCardSearch .dividerVertically {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    height: 150px;
    background-color: white;
    width: 290px;
    cursor: pointer;
}

.productCardSearch .dividerVertically .left {
    height: 100%;
    width: 60%;

}

.productCardSearch .dividerVertically .left img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.productCardSearch .dividerVertically .right {
    height: 100%;
    width: 40%;
    display: flex;
    padding: 0 2px;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(24, 50, 91);
    /* align-items: right; */

}

.productCardSearch .dividerVertically .right .lowe .upper {
    width: 100%;
    /* margin: 10px 0; */
    font-weight: 700;
    font-style: italic;
}

.productCardSearch .dividerVertically .right .lowe .lower {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 2rem;
}

@media screen and (max-width:992px) {
    .cartShowing {
        display: block;
    }

    .cartNav {
        display: none;
    }

    .brandLogo {
        font-size: 1.3rem;
        font-weight: 500;
        color: rgb(61, 59, 81);
        margin-left: -40px;
    }

    .brandLogo span {
        margin-left: -20px;
    }

    .logoDoctor img {
        height: 70px;
        width: 90px;
        object-fit: contain;


    }

    .shopCartRel0 {
        position: absolute;
        left: 12px;
        top: -17px;
        height: 22px;
        width: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        color: white;
        border-radius: 7px;
    }
}

.homeBannerCard {
    max-height: 80vh;
    object-fit: contain;
    width: 100%;
}

@media screen and (max-width:768px) {
    .searchATopLevel .child {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        position: relative;

    }

    .searchATopLevel .child input {
        font-size: medium;
        height: 30px;
        color: rgb(5, 49, 92);
    }

    .searchATopLevel .cross {
        position: absolute;
        right: 5px;
        top: 15px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: transparent !important;
        color: rgb(5, 4s9, 92);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        cursor: pointer;
    }

    .searchATopLevel .cross span .crossIcon {
        font-size: 25px !important;
        color: white;
    }

    .productsSearchDetailsBeforeSearch .row h3 {
        font-size: 1.5rem;

    }

}

@media screen and (max-width:421px) {

    .searchATopLevel .child .searchInnerInput {
        position: absolute;
        right: 0px;

    }
}

@media screen and (max-width:403px) {

    .searchATopLevel .child .searchInnerInput {
        position: absolute;
        right: 0px;

    }

    .borderInnerInput {


        width: 100% !important;

    }


    .searchATopLevel .child {
        width: 80%;

        margin: 20px 2px !important;
        position: relative;
    }

    .productsSearchDetailsBeforeSearch {
        width: 90%;

    }

    .productCardSearch {
        width: 90%;

    }

    .productsSearchDetailsBeforeSearch .row h3 {
        font-size: 1.2rem;

    }

    .productsSearchDetailsBeforeSearch .productList p {
        font-size: 1rem;
    }
}