@import url('https://fonts.googleapis.com/css2?family=Brolimo:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}


.fixIcon {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999999999999;
  bottom: 10px;
  right: 15px
}

.icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color:rgb(24, 50, 91);
  margin: 15px 0;

}

::-webkit-scrollbar {
  display: none;
}

.developer p {
  color: white;
  font-weight: bold;
}

.developer p a {
  color: white;
}

.developer p a:hover {
  color: rgba(255, 255, 255, 0.808) !important;
}



/* Apply Brolimo font to all elements */
body {
  font-family: 'Brolimo', sans-serif;
}

/* Example for applying Brolimo font to specific elements */
h1,
h2,
h3,
h4,
h5,
div,
span,
p {
  font-family: 'Brolimo', sans-serif;
  font-weight: 400;
  /* Regular */
}